.movieCardList {
    margin: 117px 70px 30px;
}

@media screen and (max-width: 768px) {
    .movieCardList {
        margin-top: 70px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 530px) {
    .movieCardList {
        margin: 40px 10px 90px;
    }
}

.movieCardList__movies {
    display: flex;
    flex-wrap: wrap;
    gap: 23px 20px;
    justify-content: center;
    margin: 0;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .movieCardList__movies {
        gap: 16px 30px;
        margin-top: 125px;
    }
}

@media screen and (max-width: 530px) {
    .movieCardList__movies {
        gap: 20px 0;
        margin-top: 90px;
    }
}