.form__label {
    font-size: 10px;
    font-weight: normal;
    color: #8B8B8B;
}

.form__input {
    width: 385px;
    height: 46px;
    ;
    border-radius: 8px;
    background-color: #2F2F2F;
    border: none;
    margin: 10px 0 13px;
    font-size: 13px;
    font-weight: normal;
    color: white;
    padding-left: 15px;
}

.form__input:focus {
    outline: none;
    border: 0.5px solid #4285F4;
}

.form__input_error {
    color: #EE3465;

}

@media screen and (max-width: 540px) {
    .form {
        margin-top: -7px;
        max-width: 260px;
    }
}

@media screen and (max-width: 540px) {
    .form__input {
        max-width: 235px;
        width: 100%;
        padding-left: 15px;
    }
}

.form__button {
    width: 396px;
    height: 45px;
    background-color: #4285F4;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    margin-top: 55px;
    margin-bottom: 16px;
    border: none;
}

.form__button:hover {
    background-color: #093989;
}

.form__button-login {
    margin-top: 159px;
}

@media screen and (max-width: 768px) {
    .form__button {
        margin-top: 49px;
    }
}

@media screen and (max-width: 540px) {
    .form__button {
        margin-top: 137px;
        font-size: 12px;
        width: 260px;
    }
}

@media screen and (max-width: 768px) {
    .form__button-login {
        margin-top: 159px;
    }
}

@media screen and (max-width: 540px) {
    .form__button-login {
        margin-top: 249px;
    }
}

.form__input-error-text {
    color: #EE3465;
    font-size: 10px;
    font-weight: normal;
    display: block;
    margin-top: -3px;
    margin-bottom: 10px;
}