.fail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fail__container {
    margin: 125px auto 194px;
}

@media screen and (max-width: 768px) {
    .fail__container {
        margin: 275px auto 184px;
    }
}

@media screen and (max-width: 510px) {
    .fail__container {
        margin: 259px auto 284px;
    }
}

.fail__title {
    font-size: 140px;
    font-weight: normal;
    text-align: center;
    color: black;
    margin-bottom: 60px;
}

@media screen and (max-width: 510px) {
    .fail__title {
        font-size: 80px;
        margin-top: 80px;
        margin-bottom: 10px;

    }
}

.fail__subtitle {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin: -60px auto 0;
    color: black;

}

@media screen and (max-width: 768px) {
    .fail__subtitle {
        margin-top: -50px;
    }
}

@media screen and (max-width: 500px) {
    .fail__subtitle {
        font-size: 12px;
        margin-top: 0px;
    }

}

.fail__button-back {
    color: #3456F3;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 60px;
    margin-top: -10px;
}

.fail__button-back:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .fail__button-back {
        margin-top: -10px;
    }
}

@media screen and (max-width: 500px) {
    .fail__button-back {
        font-size: 12px;
        margin-bottom: 30px;
        margin-top: 3px;

    }
}