.page {
    background-color: #202020;
    box-sizing: border-box;
    /* min-height: 100vh; */
    height: 100%;
    font-family: 'Inter', sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
     max-width: 1280px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 768px) {
    .page {
       width: 100%;
    }
}

.page__content {
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
}
