.header {
    position: relative;
    display: flex;
    padding: 18px 70px 18px;
    justify-content: space-between;

}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 30px 18px;
    }
}

@media screen and (max-width: 545px) {
    .header {
        padding: 18px 14px 18px;
    }
}

.header-front {
    background-color: #073042;
}

.header__logo {
    width: 38px;
    height: 38px;
    margin-left: 0px;
    margin-top: -4px;
}

@media screen and (max-width: 545px) {
    .header__logo {
        margin-top: -3px;
        margin-left: -3px;
    }
}

.header__entrance-login {
    width: 76px;
    height: 32px;
    border-radius: 3px;
    background-color: #3DDC84;
    font-size: 12px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    margin-right: 13px;
    text-decoration: none;
    padding: 10px 20px;
}

@media screen and (max-width: 540px) {
    .header__entrance-login {
        font-size: 10px;
        width: 54px;
        height: 26px;
        margin-right: 0;
    }
}


.header__entrance-login:hover {
    opacity: 0.8;
}

.header__entrance-registry {
    color: white;
    text-decoration: none;
    padding-top: 7px;
    padding-right: 30px;
    font-size: 12px;
    font-weight: 500;
}

@media screen and (max-width: 540px) {
    .header__entrance-registry {
        font-size: 10px;
        margin-right: -15px;
    }
}

.header__entrance-registry:hover {
    opacity: 0.8;
}

.header__burger {
    background-image: url('../../images/burger-icon.svg');
    width: 44px;
    height: 44px;
    background-color: white;
    border: none;
    cursor: pointer;
    margin-top: -6px;
    margin-right: -3px;
}

@media screen and (min-width: 769px) {
    .header__burger {
        display: none;
    }
}

@media screen and (max-width: 544px) {
    .header__burger {
        width: 30px;
        height: 35px;
        margin-right: 15px;
    }
}