.aboutProjectInfo {
    padding: 112px 70px 110px;
    background-color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .aboutProjectInfo {
        padding: 90px 50px 80px;
    }

}

@media screen and (max-width: 540px) {
    .aboutProjectInfo {
        padding: 74px 18px 45px;
    }
}

.aboutProjectInfo__title {
    margin-top: 0px;
    margin-bottom: 3px;
    color: #000000;
}

.aboutProjectInfo__diplomaInfo {
    display: flex;
    gap: 40px;
    padding-top: 71px;
    padding-bottom: 110px;
    color: #000000;
    min-height: 40px;
    line-height: 20px;

}

@media screen and (max-width: 768px) {
    .aboutProjectInfo__diplomaInfo {
        gap: 30px;
        padding-bottom: 93px;
        padding-top: 69px;
    }
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__diplomaInfo {
        flex-direction: column;
        gap: 56px;
        padding-bottom: 60px;
        margin-top: -8px;
    }
}

.aboutProjectInfo__steps {
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 768px) {
    .aboutProjectInfo__steps {
        gap: 22px;
        width: 319px;
    }
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__steps {
        gap: 16px;
        width: 284px;
    }
}

.aboutProjectInfo__step-title {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: -0.8px;
}

@media screen and (max-width: 768px) {
    .aboutProjectInfo__step-title {
        line-height: 24px;
    }
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__step-title {
        font-size: 18px;
        letter-spacing: -0.5px;
    }
}

.aboutProjectInfo__step-text {
    padding: 0;
    margin: 2px 0 0px 0;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    .aboutProjectInfo__step-text {
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__step-text {
        font-size: 11px;
        margin-top: -3px;
        line-height: 16px;
        margin-bottom: 3px;
    }
}

.aboutProjectInfo__scheme {
    display: grid;
    max-width: 1140px;
    grid-template-columns: 228px 1fr;
    grid-template-rows: 36px;
    margin-top: -13px;
}

@media screen and (max-width: 768px) {
    .aboutProjectInfo__scheme {
        grid-template-columns: 140px 1fr;
    }
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__scheme {
        grid-template-columns: 100px 1fr;
        grid-template-rows: 35px 35px;
        margin-top: -10px;

    }
}

.aboutProjectInfo__backend-text {
    background-color: #2BE080;
    color: black;
    font-size: 14px;
    /* line-height: auto; */
    font-weight: normal;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 26px;
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__backend-text {
        font-size: 11px;
        padding-top: 11px;
    }
}

.aboutProjectInfo__backend-title {
    line-height: 17px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    color: #A0A0A0;
    background-color: #FFFF;
    padding-top: 15px;
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__backend-title {
        font-size: 11px;
        padding-top: 10px;
    }
}

.aboutProjectInfo__frontend-text {
    background-color: #F2F2F2;
    color: black;
    font-size: 14px;
    /* line-height: auto; */
    font-weight: normal;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 26px;
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__frontend-text {
        font-size: 11px;
        padding-top: 11px;

    }
}

.aboutProjectInfo__frontend-title {
    color: #A0A0A0;
    background-color: #FFFF;
    line-height: 17px;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    padding-top: 15px;
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__frontend-title {
        font-size: 11px;
        padding-top: 10px;

    }
}

@media screen and (max-width: 768px) {
    .aboutProjectInfo__scheme-backend-text {
        width: 120px;
    }
}

@media screen and (max-width: 540px) {
    .aboutProjectInfo__scheme-backend-text {
        width: 80px;
        font-size: 11px;
        margin: 11px auto;
    }
}