.techs {
    margin: 105px 0px 115px;
    background-color: #272727;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 70px;
    padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
    .techs {
        padding-top: 70px;
        margin: 80px 0px 30px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 540px) {
    .techs {
       margin: -3px 0 30px;
       padding-left: 20px;
       padding-right: 20px;
    }
}

@media screen and (max-width: 320px) {
    .techs {
        background-color: #202020;
    }
}

/* .techs__line {
    max-width: 1140px;
} */

.techs__title {
    width: 600px;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 90px auto 26px;
    letter-spacing: -2px;
}

@media screen and (max-width: 768px) {
    .techs__title {
        margin: 79px auto 22px;
        letter-spacing: -4px;
        font-weight: 400;
        padding-right: 39px;
    }
}

@media screen and (max-width: 620px) {
    .techs__title {
        width: 220px;
        font-size: 30px;
        margin: 60px auto 24px;
        padding: 0;
        letter-spacing: -1px;        
    }
}

@media screen and (max-width: 320px) {
    .techs__line {
        background-color: #202020;
    }
}

.techs__text {
    max-width: 460px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto 100px;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 768px) {
    .techs__text {
        font-size: 12px;
        margin: 0 auto 85px;
    }
}

@media screen and (max-width: 540px) {
    .techs__text {
        width: 100%;
        font-size: 11px;
        margin: 0 0px 50px 0;
        padding: 0;
    }
}

.techs__tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .techs__tabs {
        margin: 0 10px;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 540px) {
    .techs__tabs {
        margin: 0 auto 0;
        justify-content: space-between;
        /* padding: 0 30px 0; */
        text-align: center;
        max-width: 178px;
        width: 100%;
    }
}

.techs__tab {
    width: 90px;
    height: 60px;
    background-color: #303030;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .techs__tab {
        width: 84px;
        height: 57px;
    }
}

.techs__tab-text {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin: 21px auto;
}

@media screen and (max-width: 768px) {
    .techs__tab-text {
        font-size: 12px;
    }
}